* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(14, 205, 253, 0.884);
}
ul {
  list-style: none;
  height: 30vh;
  overflow: scroll;
}

.App {
  margin: auto;
  max-width: 500px;
  height: 100vh;
}

.listTask .wrapItem {
  border: 1px solid gray;
  padding: 15px;
  margin: 10px 30px;
  background: white;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  border-radius: 5px;
}
.listTask .wrapItem label {
  margin-left: 10px;
}
.listTask .far.fa-star {
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  position: absolute;
  right: 20px;
}

.listTask input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #ffffff;
  border: 1px solid gray;
  border-radius: 100%;
}
.listTask input[type="checkbox"]:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0px;
  left: 6px;
  width: 5px;
  height: 10px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
}

.listTask input[type="checkbox"]:checked {
  background: #327dff;
  outline: none;
  border: 1px solid rgba(50, 125, 255, 1);
}
.listTask input:focus,
.listTask input:active {
  outline: none;
}
.listTask .totalComplete {
  padding: 10px 30px;
}

.listTask .wrapItem input:checked + label {
  text-decoration: line-through;
  color: #968888;
}
.listTask .fas.fa-chevron-down {
  border: none;
  background: transparent;
  font-size: 16px;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.heading h1 {
  padding: 15px 30px;
  text-align: center;
}

.heading input {
  border: 1px solid gray;
  padding: 15px;
  margin: 10px 30px;
  background: white;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  border-radius: 5px;
  width: 82%;
  margin-bottom: 50px;
}

h3 {
  text-align: center;
}

.newTask {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.newTask input, .newTask h3 {
  font-size: 16px;
  flex: 0 0 75%;
  margin: 0;
  margin-right: 5px;
}

.newTask button {
  background-color: white;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: none;
  flex: 0 0 15%;
  font-size: 16px;
}

.newTask h3 {
  font-size: 1.17em;
  padding: 5px;
  text-align: left;
}
